In [1]:
import pandas as pd

In [3]:
pd.__version__

'1.1.5'

# creating a series from list

In [4]:
list1 = [1,2,3,4,6]
list1

[1, 2, 3, 4, 6]

In [6]:
series1 = pd.Series(list1)

In [7]:
series1

0    1
1    2
2    3
3    4
4    6
dtype: int64

In [8]:
type(series1)

pandas.core.series.Series

# creating empty series

In [11]:
empty_s= pd.Series([])
empty_s

c:\users\aman\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  """Entry point for launching an IPython kernel.

Series([], dtype: float64)

# Creating  series using a different method

In [15]:
series3 = pd.Series([1,2,3,4,5])

In [16]:
series3

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [20]:
series4 = pd.Series([1,2,3,4,5], index = ['a','b','c','d','e'])

In [21]:
series4

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [24]:
series5= pd.Series([1,2,3,4,5], index=['a','b','c','d','e'], dtype = float)#change data type int to float

In [25]:
series5

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
dtype: float64

# creating sseries from scaler value

In [28]:
s4_scaler = pd.Series([2])
s4_scaler

0    2
dtype: int64

In [30]:
s5_scaler = pd.Series(2, index =['a','b','c'])

In [31]:
s5_scaler

a    2
b    2
c    2
dtype: int64

# creating a series python dictionarey

In [40]:
s6_dict =pd.Series ({'a':1,'b':2})

In [41]:
s6_dict

a    1
b    2
dtype: int64

In [42]:
s6_dict['b']

2

# adding two series

In [43]:
s10 = pd.Series([1,2,3,4,5,6])

In [44]:
s11 = pd.Series([2,3,4,5,6,7])

In [45]:
a = s10+s11

In [46]:
a

0     3
1     5
2     7
3     9
4    11
5    13
dtype: int64

In [48]:
min(a)

3

In [49]:
max(a)

13

# condition operaion

In [50]:
a[a<8]

0    3
1    5
2    7
dtype: int64

In [ ]:
a.drop(4)